<%- include('../partials/header.ejs') %>
 <body>
  <%- include('../partials/nav.ejs') %>
   <div class="about content">
      <h2>About Us</h2>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi</p>     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi</p>

   </div>
 </body>
 <%- include("../partials/footer.ejs")%>
 </html>
 